html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*------------------------------*\
    Grid System
\*------------------------------*/

.row {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row,
.column {
    box-sizing: border-box;
    box-sizing: border-box;
}

.column {
    position: relative;
    float: left;
    clear: none;
}

.column:last-child {
    float: none;
}

.column+.column {
    margin-left: 1.5%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

/*------------------------------*\
    End of Grid System
\*------------------------------*/


/*------------------------------*\
    COMMONS
\*------------------------------*/

#main {
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition-timing-function: ease-in;
    transition-duration: .1s;
    transition: 500ms;
    transition-delay: 300ms;
}

.main {
    background: blue;
    position: absolute;
    opacity: 0.8;
    transition-timing-function: ease-in;
    transition-duration: .1s;
    transition: 500ms;
}


ul {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: white;
}

/*------------------------------*\
    End of COMMONS
\*------------------------------*/

/*------------------------------*\
    NAV MENU
\*------------------------------*/

header {
    margin: 0vw 3vw;
    height: 90px;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    background: url(./img/weekreate-logo-sem-nome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 70px;
}

#menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

#menu-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px;
}

.list-item {
    padding: 6px;
    margin: 6px;
    width: 100px;
    height: 20px;
    transition: .3s;
}

.list-item:hover {
    opacity: 0.7;
}

.list-item a {
    font-size: 14pt;
    width: 100%;
    height: 100%;
    padding: 6px;
    margin: 6px;
}

/*------------------------------*\
    End of NAV MENU
\*------------------------------*/

/*------------------------------*\
   PRINCIPAL CONTENT
\*------------------------------*/

#principal-content {
      margin: 0vw 3vw;
      display: flex;
}

#atividades-list {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
}

/* TODO: fazer o Smooth funcionar */
#atividades-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;  
    
    transition: .3s;
    scroll-behavior: smooth;
    overflow-x: scroll;


}

#atividades-list ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
  
}

.content-title {
   


}

.content-list-item {
        border: solid .1px;

}

#conteudo-mais {
        border: solid .1px;

}

#conteudo-mais>table {
    border: solid .1px;
}

thead tr th {
    border: solid .1px;
}

tbody tr td {
    border: solid .1px;
}

/*------------------------------*\
    End of PRINCIPAL CONTENT
\*------------------------------*/


/*------------------------------*\
    Mobile only
\*------------------------------*/

@media only screen and (max-width: 550px) {

    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    }

    .column+.column {
        margin-left: 0;
    }

}